
// // Fonts

// // Variables
// @import "variables";

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

.nav-tabs {

  li {

    position: relative;

    .nav-link {
      border-color: #eceeef #eceeef #ddd !important;
    }

    .active {
      border-bottom-color: transparent !important;
      background-color: #fff !important;
    }

    .mt-close-tab {
      position: absolute;
      font-size: 10px;
      top: 2px;
      right: 5px;
      color: #94A6B0;
      cursor: pointer;
    }

  }
}

.gender-radio {
  display: inline-block;
  margin: 0.45em;
}
.header-title {
  line-height: 35px;
  margin-bottom: 0;
}

#addressPickerGroup {
  position: relative;

  #clearAddress {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
  }
}
